<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender for local output -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n"/>
        </Console>

        <!-- File Appender for local logging -->
        <File name="FileAppender" fileName="logs/application.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n"/>
        </File>

        <!-- Socket Appender to send logs to Logstash -->
        <Socket name="LogstashAppender" host="logstash" port="50000" protocol="TCP" reconnectionDelayMillis="5000">
            <JsonLayout complete="false" compact="true" eventEol="true" properties="true" />
        </Socket>
    </Appenders>

    <Loggers>
        <!-- Application specific loggers -->
        <Logger name="website.ylab.learningplatform" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="LogstashAppender"/>
        </Logger>

        <!-- AspectJ specific logger -->
        <Logger name="website.ylab.learningplatform.aspect" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="LogstashAppender"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="LogstashAppender"/>
        </Root>
    </Loggers>
</Configuration>